@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}
html,
body {
  background-color: sandybrown;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container {
  width: 480px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__game {
  width: 480px;
  padding: 0 80px;
  margin: 0 auto;
}
.root {
  width: 320px;
  height: 400px;
  margin: 5px auto;
  background-color: rgba(238, 238, 238, 0.493);
  border-radius: 5px;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  margin-right: 5px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__icon {
  width: 40px;
  height: 40px;
}
.nav__button {
  padding: 10px;
  border: none;
  background-color: rgba(238, 238, 238, 0.493);
  border-radius: 5px;
}
.nav__button:hover {
  background-color: rosybrown;
}
.nav__button:active {
  opacity: 0.7;
}
.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.game__container {
  width: 140px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.493);
  padding: 5px;
}
.game__run {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  background-color: #fff;
  border-top: 2px solid rosybrown;
  border-bottom: 2px solid rosybrown;
}
.game__run marquee {
  width: 100%;
}
.quest {
  width: 320px;
  height: 400px;
  overflow: hidden;
}
.quest__start-title {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
.quest__list {
  height: 385px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.quest__item {
  display: block;
  background-color: transparent;
}
.quest__title {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.quest__description {
  margin: 1px;
}
.quest__subtitle {
  margin-top: 3px;
  margin-bottom: 5px;
}
.quest__accordion {
  background-color: #eeeeee77;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 1px solid #eeeeee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.quest__accordion:hover {
  background-color: #ccc;
}
.quest__panel {
  padding: 0 18px;
  background-color: transparent;
}
.quest__menu {
  margin-top: 10px;
  margin-bottom: 30px;
}
.conditions div {
  border-bottom: 1px solid #eeeeee;
}
.conditions div:last-child {
  border: none;
}
.time-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: rgba(238, 238, 238, 0.493);
  margin-bottom: 4px;
}
.time-panel__button {
  padding: 5px;
  border: none;
  background-color: rgba(238, 238, 238, 0.493);
  border-radius: 5px;
}
.time-panel__button:hover {
  background-color: rosybrown;
}
.time-panel__button:active {
  opacity: 0.7;
}
.hangar {
  width: 320px;
  height: 400px;
  overflow: hidden;
}
.hangar__start-title {
  margin: 0 10px;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
.hangar__stat {
  margin: 0 10px;
}
.hangar__list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.hangar__item {
  display: block;
  background-color: transparent;
}
.hangar__title {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.hangar__description {
  margin: 1px;
}
.hangar__subtitle {
  margin-top: 3px;
  margin-bottom: 5px;
}
.plane__title {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.plane__accordion {
  background-color: #eeeeee77;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.plane__accordion:hover {
  background-color: #ccc;
}
.plane__panel {
  padding: 0 18px;
  background-color: transparent;
}
.plane__panel--min {
  margin: 0 5px;
}
.plane__char {
  width: 100px;
}
.plane__menu {
  margin-top: 10px;
  margin-bottom: 30px;
}
.news__list {
  height: 385px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
